body {
    font-family: sans-serif;
    font-weight: 700;
}

h1 {
    margin: 9.375rem 0 0;
    font-size: 1.75em;
    text-align: center;
}

h2 {
    text-align: center;
}

p.mic {
    margin: 0;
    color: red;
    font-size: 3.25em;
    text-transform: uppercase;
    text-align: center;
}

main {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;

}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00abff;
    color: white;
}
